@font-face {
  src: url(../fonts/Demode.ttf);
  font-family: Demode;
}

@font-face {
  src: url(../fonts/Typography.otf);
  font-family: Typography;
}


@font-face {
  src: url(../fonts/Shotgun.ttf);
  font-family: Shotgun;
}

@font-face {
  src: url(../fonts/Poppins-Regular.ttf);
  font-family: Poppins;
}