$primary: #355070;
$secondary: #6D597A;
$tertiary: #B56576;
$quaternary: #E56B6F;
$pentakill: #EAAC8B;

$light: #fffcf2;
$light-grey: #ccc5b9;
$grey: #99948c;
$dark-grey: #403d39;
$dark: #202020;
$orange-1: #eb5e28;
$orange-2: #cf3c22;
$orange-light: #f26c3b;