$primary: #320A28;
$secondary: #511730;
$tertiary: #8E443D;
$quaternary: #CB9173;
$pentakill: #E0D68A;

$light: #fffcf2;
$light-grey: #ccc5b9;
$grey: #99948c;
$dark-grey: #403d39;
$dark: #202020;
$orange-1: #eb5e28;
$orange-2: #cf3c22;